.aboutpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

.aboutcontent {
  text-align: center;
  flex: 70%;
  border-right: 4px solid black;
}

#abouttext {
  font-family: "Avenir Next";
  font-size: 20px;
  margin: 40px 90px;
}

.picture {
  flex: 30%;
  padding: 20px;
  padding-top: 40px;
}

#profile {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  display: block;
  margin: auto;
}

.location {
  font-family: 'frontageoutline';
  display: inherit;
  font-size: 20px;
  text-align: center;
}

.h2title {
  font-family: 'frontageregular';
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
}

.skillstitle {
  font-family: "Avenir Next";
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 20px;
  text-align: left;
  margin-bottom: 5px;
}

.skills {
  font-family: "Avenir Next";
  font-weight: medium;
  font-size: 18px;
  margin: 0;
}

#skillsleft {
  text-align: left;
  margin-left: 90px;
}

#skillsright {
  text-align: right;
  margin-right: 90px;
}

#titleright {
  text-align: right;
}

.skillscontent {
  display: flex;
  justify-content: center;
}

.skillscolumn {
  flex: 50%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1060px) {
  .skillscontent {
    margin-bottom: 30px;
  }

  .picture {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 900px) {
  #abouttext {
    margin: 40px;
  }
  #skillsleft {
    margin-left: 20px;
  }
  #skillsright {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 770px) {
  #abouttext {
    font-size: 16px;
  }
  .skillstitle {
    letter-spacing: 5px;
    font-size: 12px;
  }
  .skills {
    font-size: 12px;
  }
}
@media only screen and (max-width: 630px) {
  #profile {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width: 515px) {
  .name {
    font-size: 56px;
  }
  #abouttext {
    font-size: 12px;
  }
  .h2title {
    font-size: 24px;
  }
  .skillstitle {
    font-size: 10px;
  }
  .skills {
    font-size: 8px; 
  }
}
@media only screen and (max-width: 425px) {
  #profile {
    width: 150px;
    height: 150px;
  }
  #abouttext {
    margin: 20px;
    font-size: 10px;
  }
  .skillstitle {
    letter-spacing: 3px;
  }
  #skillsright {
    margin-right: 20px;
  }
  .picture {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 375px) {
  #profile {
    width: 100px;
    height: 100px;
  }
  .picture {
    padding-top: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .h2title {
    font-size: 16px;
  }
  .picture {
    padding-top: 60px;
  }
  .skillstitle {
    display: none;
  }
}