.aboutcontent {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    grid-template-rows: 200px, 1fr;
}
.aboutmetext {
    font-family: "montserratregular";
    color: white;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 50px;
    grid-column: span 12;
    grid-row-start: 1;
}
#location {
    height: 300px;
    margin-left: 50px;
    margin-right: 25px;
    float: left;
    grid-column: span 3;
    grid-row-start: 2;
}
h6 {
    font-family: 'latomedium';
    color: white;
    text-align: center;
    position: absolute;
    top: 10px;
    font-size: 30px;
    width: 100%;
}
.describe {
    font-family: 'latomedium';
    color: white;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 25%;
    font-size: 15px;
    width: 50%;
}
.circle {
    height: 295px;
    width: 295px;
    border-radius: 50%;
    border: white solid 5px;
    position: relative;
    grid-column: span 3;
}
#responsive,#dynamic,#clean {
  grid-row-start: 2;
  grid-column-end: span 3;
}
#responsive {
    background-color: #51A391;
    grid-column-start: 5; 
    z-index: 2;
}
#dynamic {
    background-color: #33675C;
    grid-column-start: 7;
    z-index: 1;
}
#clean {
    background-color: #20423A;
    grid-column-start: 9;
    z-index: 0;
}

@media only screen and (max-width: 972px) {
    .content {
        position: absolute; 
        top: 47%; 
        transform: translateY(-50%); 
        width: 100%;
      }
    .aboutcontent {
        grid-template-columns: repeat(6, 2fr);
        grid-gap: 20px;
    }
    .aboutmetext {
        grid-column: span 4;
        font-size: 18px;
    }
    #location {
        grid-column: span 2;
        margin: 0;
        width: 4fr;
        grid-row-start: 1;
    }
    .circle {
        grid-column: span 2;
        width: 100%;
        height: 242px;
    }
    #responsive,#dynamic,#clean {
        grid-column-end: span 2;
    }
    #responsive {
        grid-column-start: 1; 
        z-index: 1;
    }
    #dynamic {
        grid-column-start: 3;
        z-index: 0;
    }
    #clean {
        grid-column-start: 5;
        z-index: -1;
    }
    h6 {
        top: 0;
    }
    .describe {
        top: 120px;
    }
  }
  @media only screen and (max-width: 670px) {
    .aboutcontent {
        grid-template-columns: repeat(6, 2fr);
        grid-gap: 20px;
    }
    .aboutmetext {
        grid-column: span 6;
        font-size: 18px;
        margin: auto;
    }
    .circle {
        grid-column: span 2;
        height: 75px;
        width: 75px;
    }
    #responsive {
        grid-column-start: 1;
        grid-row-start: 2; 
        z-index: 3;
    }
    #dynamic {
        grid-column-start: 1;
        grid-row-start: 3;
        z-index: 2;
    }
    #clean {
        grid-column-start: 1;
        grid-row-start: 4;
        z-index: 1;
    }
    #location {
        grid-column: span 3;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-row: span 3;
    }
    h6 {
        font-size: .75em;
    }
    .describe {
        display: none;
    }
  }




.flip-vertical-left {
	-webkit-animation: flip-vertical-left 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: flip-vertical-left 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.swirl-in-fwd {
	-webkit-animation: swirl-in-fwd 0.6s ease-out both;
	        animation: swirl-in-fwd 0.6s ease-out both;
}
.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 3s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
  /* ----------------------------------------------
 * Generated by Animista on 2018-9-24 16:32:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 
 /**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
              transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
/**
 * ----------------------------------------
 * animation flip-vertical-left
 * ----------------------------------------
 */
@-webkit-keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-360deg);
              transform: rotateY(-360deg);
    }
  }
  @keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-360deg);
              transform: rotateY(-360deg);
    }
  }
/**
 * ----------------------------------------
 * animation swirl-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  @keyframes swirl-in-fwd {
    0% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
  }
  