.contactcontent {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
}
.contactdiv {
    grid-column: span 1;
}
#linkedindiv {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
}
#stackoverflowdiv {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
}
#githubdiv {
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 5;
}
#facebookdiv {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
#twitterdiv {
    grid-row-start: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}
#emaildiv {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}
.iconcircle {
    border-radius: 50%;
    border: solid white 2px;
    height: 150px;
    width: 150px;
    margin: auto;
    background-color: #51A391;
}
.icontitle {
    text-align: center;
    color: white;
    font-family: 'montserratregular';
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 25px;
}
.iconsvg {
    display: block;
    height: 85px;
    margin: auto;
    padding-top: 30px;
}
#twittersvg {
    width: 87px;
    padding-top: 33px;
}
#emailsvg {
    width: 87px;
    padding-top: 33px;
}
@media only screen and (max-width: 768px) {
    .contactcontent {
        grid-template-columns: repeat(2, 1fr);
        margin-left: 80px;
        margin-right: 80px;
    }
    #linkedindiv {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #stackoverflowdiv {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #githubdiv {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #facebookdiv {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #twitterdiv {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    #emaildiv {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}
@media only screen and (max-width: 425px) {
    .contactcontent {
        margin-left: 20px;
        margin-right: 20px;
        grid-gap: 10px;
    }
    .iconcircle {
        height: 100px;
        width: 100px;
    }
    .iconsvg {
        height: 55px;
        padding-top: 20px;
    }
    #twittersvg {
        width: 57px;
        padding-top: 23px;
    }
    #emailsvg {
        width: 57px;
        padding-top: 23px;
    }
    .icontitle {
        font-size: 15px;
        margin-bottom: 5px;
        margin-top: 15px;
    }
}
.slit-in-vertical {
	-webkit-animation: slit-in-vertical 0.75s ease-out both;
	        animation: slit-in-vertical 0.75s ease-out both;
}
.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.pulsate-fwd {
	-webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
	        animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-9-26 1:59:47
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
/**
 * ----------------------------------------
 * animation puff-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
/**
 * ----------------------------------------
 * animation slit-in-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  }
  @keyframes slit-in-vertical {
    0% {
      -webkit-transform: translateZ(-800px) rotateY(90deg);
              transform: translateZ(-800px) rotateY(90deg);
      opacity: 0;
    }
    54% {
      -webkit-transform: translateZ(-160px) rotateY(87deg);
              transform: translateZ(-160px) rotateY(87deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(0) rotateY(0);
              transform: translateZ(0) rotateY(0);
    }
  }
  