@font-face {
  font-family: 'frontageregular';
  src: url('../fonts/Frontage/frontage-regular-webfont.eot');
  src: url('../fonts/Frontage/frontage-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Frontage/frontage-regular-webfont.woff2') format('woff2'),
    url('../fonts/Frontage/frontage-regular-webfont.woff') format('woff'),
    url('../fonts/Frontage/frontage-regular-webfont.ttf') format('truetype'),
    url('../fonts/Frontage/frontage-regular-webfont.svg#frontageregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'frontageoutline';
  src: url('../fonts/Frontage/frontage-outline-webfont.eot');
  src: url('../fonts/Frontage/frontage-outline-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Frontage/frontage-outline-webfont.woff2') format('woff2'),
    url('../fonts/Frontage/frontage-outline-webfont.woff') format('woff'),
    url('../fonts/Frontage/frontage-outline-webfont.ttf') format('truetype'),
    url('../fonts/Frontage/frontage-outline-webfont.svg#frontageoutline') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'frontagebold';
  src: url('../fonts/Frontage/frontage-bold-webfont.eot');
  src: url('../fonts/Frontage/frontage-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Frontage/frontage-bold-webfont.woff2') format('woff2'),
    url('../fonts/Frontage/frontage-bold-webfont.woff') format('woff'),
    url('../fonts/Frontage/frontage-bold-webfont.ttf') format('truetype'),
    url('../fonts/Frontage/frontage-bold-webfont.svg#frontagebold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'beyond_infinity';
  src: url('../fonts/Beyond_Infinity/beyond_infinity-webfont.eot');
  src: url('../fonts/Beyond_Infinity/beyond_infinity-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Beyond_Infinity/beyond_infinity-webfont.woff2') format('woff2'),
    url('../fonts/Beyond_Infinity/beyond_infinity-webfont.woff') format('woff'),
    url('../fonts/Beyond_Infinity/beyond_infinity-webfont.ttf') format('truetype'),
    url('../fonts/Beyond_Infinity/beyond_infinity-webfont.svg#beyond_infinity_-_demoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kg';
  src: url('../fonts/KG/kgbeneathyourbeautiful-webfont.eot');
  src: url('../fonts/KG/kgbeneathyourbeautiful-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/KG/kgbeneathyourbeautiful-webfont.woff2') format('woff2'),
    url('../fonts/KG/kgbeneathyourbeautiful-webfont.woff') format('woff'),
    url('../fonts/KG/kgbeneathyourbeautiful-webfont.ttf') format('truetype'),
    url('../fonts/KG/kgbeneathyourbeautiful-webfont.svg#kg_beneath_your_beautifulRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
#homecontent {
  margin-left: 160px;
  margin-top: 100px;
}

.name {
  font-family: 'frontageregular';
  text-align: center;
  font-size: 64px;
  font-weight: normal;
}

#homename {
  margin-left: -13px;
  text-align: left;
}

#tagline {
  font-family: 'frontageoutline';
  text-align: left;
  font-weight: normal;
}

.linktext {
  font-family: 'beyond_infinity';
  text-align: left;
  color: black;
  font-size: 32px;
}

.homelink {
  text-decoration: none;
}

/* RESUME CSS */
#resumeimage {
  margin: auto;
  border: black 4px solid;
  height: 596px;
  width: 460px;
}

#resume {
  width: 100%;
}

.download {
  height: 49px;
  line-height: 49px;
  border-radius: 24.5px;
  border: solid black 2px;
  width: 464px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}

.downloadtext {
  font-family: 'frontagebold';
  color: black;
  text-align: center;
  margin-top: 0;
  text-decoration: none !important;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 720px) {
  #homecontent {
   margin-left: 30px;
  }
}
@media only screen and (max-width: 425px) {
  #homecontent {
    margin-top: 70px;
  }
  .name {
   font-size: 36px;
  }
  #homename {
    margin-left: -5px;
  }
  #tagline {
    font-size: 16px;
  }
}
@media only screen and (max-width: 320px) {
  .name {
    font-size: 28px
  }
  #tagline {
  font-size: 12px;
  }
}